<!DOCTYPE html>
<html>
<head>
  <title>Awam</title>
<link href="https://fonts.googleapis.com/css?family=Bungee|Oswald" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet"> 
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  

<nav class="navbar navbar-light bg-light">
  
 <!-- Search bar and dropdown link -->
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Fundraisers">
  </div>
  
  <div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-default">Submit</button>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Dropdown link</a></li>
      <li><a href="#">Dropdown link</a></li>
    </ul>
  </div>
  </div>
</form>

  <!-- Search bar and dropdown link -->

<!-- Brandname + Logo -->

  <div class ="float_center" >
    
    <%= link_to root_path, class: "navbar-brand" do %>

      <i class="fa fa-gift"></i>  
      Awam
  
    <%end%>
  </div>
  
  <!-- Brandname + Logo -->

  <!-- Log in and sign up buttons -->

<div class="navbar-right btn-group" role="group" aria-label="...">

  <%= link_to about_path do %>

  <button type="button" class="lgnin btn btn-default">Log In</button>

  <%end%>

  <%= link_to about_path do %>

  <button type="button" class="sgnup btn btn-default">Sign Up</button>
  
  <%end%>
  
  <%= link_to about_path do %>
  
  <button type="button" class="htw btn btn-default">How It Works</button>
  
  <%end%>
  
  
</div>

<!-- Log in and sign up buttons -->

</nav>
<%= yield %>

</body>

</html>
